@using Microsoft.AspNetCore.Identity;
@using Auctions.Models.Database;
@using System.Security.Claims;
@using System.Globalization;

@model Auctions.Models.Database.Auction

@inject SignInManager<User> sign_in_manager

@{
    ViewData["Title"] = "Auction Details";

    var user_id = (string) TempData["user_id"];

    string image = Convert.ToBase64String(Model.image);
    var time_left = Model.closes_at - DateTime.Now;
    string role = "";
    string id = "";

    foreach(System.Security.Claims.Claim claim in User.Claims) {
        if(claim.Type.Equals(ClaimTypes.Role)) {
            role = claim.Value;
        }

        if(claim.Type.Equals("id")) {
            id = claim.Value;
        }
    }

    await Html.RenderPartialAsync("signalRScriptsPartial");
}

<div class="row">
    <div class="col-xl-6 text-center">
        <div class="container">
            <div class="card" style="width:500px; height:1000px">
                <div class="card-header">
                    @if(sign_in_manager.IsSignedIn(User) && role == "User" && @Model.user_id == user_id) {
                        TempData["tab"] = "HomeTab";
                        <a asp-controller="User" asp-action="EditAuction" asp-route-id="@Model.id" asp-route-from="Index"><h5 class="text-primary">@Model.name</h5></a>
                    } else {
                        <h5 class="text-primary">@Model.name</h5>
                    }
                </div>
                <img class="card-img-top" src="data:image/png;base64,@image" style="width:100%; height:70%">
                <div class="card-body">
                    <h4 class="card-text text-dark">@Model.description</h4>

                    @if(@time_left.Hours == 0) {
                        <h5 class="card-text text-danger timer">@time_left.Hours:@time_left.Minutes:@time_left.Seconds</h5>
                    } else {
                        <h5 class="card-text timer">@time_left.Hours:@time_left.Minutes:@time_left.Seconds</h5>
                    }

                    @{
                        float starting_price_ = Model.starting_price;
                        float price_ = starting_price_ + Model.price_increase;
                        string specifier = "C";
                        CultureInfo culture = CultureInfo.CreateSpecificCulture("en-US");

                        string starting_price = starting_price_.ToString(specifier, culture);
                        string price = price_.ToString(specifier, culture);

                        <h5 class="card-text text-dark" style="display:inline-block">Starting Price: </h5>

                        if(starting_price_ == 0) {
                            <h5 class="card-text text-secondary" style="display:inline-block">$0</h5>
                        } else {
                            <h5 class="card-text text-primary" style="display:inline-block">@starting_price</h5>
                        }

                        <br>
                        <h5 class="card-text text-dark" style="display:inline-block">Current Price: </h5>

                        if(price_ == 0) {
                            <h5 class="card-text text-secondary" style="display:inline-block">@price</h5>
                        } else {
                            <h5 class="card-text text-success" style="display:inline-block">@price</h5>
                        }
                    }  

                    @if(@Model.bids != null && @Model.bids.LastOrDefault() != null) {
                        <p class="card-text"><small class="text-muted">@Model.bids.LastOrDefault().user.UserName</small></p>
                    }
                    @if(sign_in_manager.IsSignedIn(User) && role == "Admin") {
                        <button type="button" class="btn btn-primary" style="width:20%" disabled>ADMIN</button>
                    } else if(sign_in_manager.IsSignedIn(User) && role == "User") {
                        if(@Model.user_id == id) {
                            <button type="button" class="btn btn-primary" style="width:30%" disabled>MY AUCTION</button>
                        } else if(@Model.state != @Auctions.Models.Database.state.SOLD) {
                            <button type="button" class="btn btn-warning" style="width:20%">
                                <a class="text-white" asp-controller="User" asp-action="Bid" asp-route-id="@Model.id">BID</a>
                            </button>
                        } else {
                            <button type="button" class="btn btn-secondary" style="width:20%" disabled>SOLD</button>
                        }
                    } else {
                        <button type="button" class="btn btn-danger text-white" style="width:30%" disabled>Register/Log In</button>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 text-center">

        @if(Model.bids != null) {
            <h3 class="text-dark">Last 10 bidders:</h3>
            <br>

            var bids = Model.bids.OrderByDescending(bid => bid.time);
            int cnt = 0;

            @foreach(var bid in bids) {
                <h5 class="text-dark"> @bid.user.UserName </h5>

                if(++cnt == 10) {
                    break;
                }

                <br>
            }
            
        } else {
            <h3 class="text-dark">Still no bidders.</h3>
        }

    </div>
</div>

